header {
  .navbar{
    margin-bottom: 10px;
  }
  .navbar-header{
  }
  .navbar-brand{
    padding-left: 70px !important;
  }
  .logo {
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px);
    margin: 0;
  }
}

@media (max-width: 1199px){
  padding-left: 60px !important;
}